.DS_Store
docs/build/
.idea
.vscode/settings.json
__pycache__
venv*
.venv
tests/output
ibm-ibm_zos_cics-*.tar.gz
tests/integration/targets/cics_cmci/cmci-variables.yml
tests/integration/targets/cics_global_catalog/provisioning-variables.yml
tests/integration/inventory
