# (c) Copyright IBM Corp. 2020,2021
# Apache License, Version 2.0 (see https://opensource.org/licenses/Apache-2.0)
-r requirements.txt
ansible==4.2.0
junit-xml==1.9  # To get JUnit xml report from ansible-test
pytest_mock==1.12.1
mock==3.0.5
requests_mock==1.8.0
pytest-xdist==1.34.0 # Need this to work around a problem running ansible-test
pytest==4.6.11; python_version < '3'
pytest==6.2.1; python_version >= '3'
# Non-test requirements (python 3+ only)
pylint==2.5.3; python_version >= '3'
shellcheck-py==0.7.1.1; python_version >= '3'
rstcheck==3.3.1; python_version >= '3'
yamllint==1.25.0; python_version >= '3'
voluptuous==0.12.1; python_version >= '3'
ansible-doc-extractor==0.1.6; python_version >= '3'
ansible-lint==4.3.7; python_version >= '3'
pycodestyle==2.6.0; python_version >= '3'
Sphinx==3.4.3; python_version >= '3'
sphinx-rtd-theme==0.5.1; python_version >= '3'