# Copyright (c) IBM Corporation 2019, 2020
# Apache License, Version 2.0 (see https://opensource.org/licenses/Apache-2.0)
pytest-ansible==2.2.3
pytest==6.1.2
pytest_mock==1.12.1
mock==3.0.5
requests_mock==1.8.0
# Need this to work around a problem running ansible-test
pytest-xdist==2.1.0